<div class="container my-5">
	<h2 class="h2">{{title}}</h2>
	<div class="row d-flex justify-content-between py-4 px-3 my-5 bg-light">
		<div class="col-sm-8">
			<div>ラビットメンバーズの方はログインしてご利用ください。</div>
			<div>ご登録情報を利用して簡単にお申し込みできます。</div>
		</div>
		<div class="col-sm-4">
			<button type="button" class="memberLogin">ラビットメンバーズにログインする</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm mb-4">
			<button class="sendButton">
				<div>メンバーズ限定</div>
				<div>前回の条件で集荷を申し込む</div>
			</button>
		</div>
		<div class="col-sm mb-4">
			<button class="sendButton">
				<div>国内に送る</div>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm row">
			<div class="col mb-4">
				<button class="sendButton">空港に送る</button>
			</div>
			<div class="col mb-4">
				<button class="sendButton">ゴルフ場に送る</button>
			</div>
		</div>
		<div class="col-sm row">
			<div class="col mb-4">
				<button class="sendButton">スキー場に送る</button>
			</div>
			<div class="col mb-4">
				<button class="sendButton">宿泊施設に送る</button>
			</div>
		</div>
	</div>
</div>
