<div class="componentTopDiv">
	<div class="container p-5">
		<h3 class="h3">{{title}}</h3>
		<div class="bg-white trackingSystemBox">
			<h5 class="h5 mb-3">送り状番号検索</h5>
			<div>
				<button type="button" class="trackingButton buttonDark" (click)="getTrackingInfoList()">お問い合わせ開始</button>
				<button type="button" class="trackingButton buttonLight" (click)="clear()">入力内容をクリア</button>
			</div>
			<table>
				<tr class="small">
					<th>送り状番号入力</th>
					<th class="table-th2">日付</th>
					<th>配送状況</th>
				</tr>
				<tr *ngFor="let tInfo of trackingList; index as i;">
					<td><input type="text" placeholder="{{i + 1}}件目の送り状番号" class="form-control" name="deliveryNum{{i}}" id="deliveryNum{{i}}" [(ngModel)]="tInfo.trackingNumber"></td>
					<td>{{tInfo.deliveryDate}}</td>
					<td>{{tInfo.deliveryState}}</td>
				</tr>
			</table>
			<!-- <button type="button" class="trackingButton buttonDark" (click)="getUser()">user</button>
			<div>{{user.name}}</div> -->
		</div>
		<div class="pt-2 pb-4 d-flex justify-content-center">
			<button type="button" class="trackingButton buttonLight" (click)="gotoTop()">トップに戻る</button>
		</div>
	</div>
</div>
