/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
	font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
	font-weight: 500;
}

.container {
	max-width: 70%;
}

/* ボタン */
button.memberLogin {
	background-color: yellow;
	border: 0px;
	width: 100%;
	height: 50px;
	transition-duration: 0.4s;
	box-shadow: 0px 2px lightgrey;
}

button.memberLogin:hover,
button.memberLogin:focus {
	background-color: gold;
	box-shadow: 0px 0px lightgrey;

}

button {
	border-radius: 0.375rem;
	border: 1px solid gray;
	font-weight: 600;
	background-color: transparent;
}

.button-green1 {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: 1px solid lightgrey;
	color: rgb(0, 154, 139);
	transition-duration: 0.4s;
	box-shadow: 0px 2px lightgrey;
}

.button-green1:hover {
	background-color: rgb(0, 154, 139);
	color: white;
	box-shadow: 0px 0px lightgrey;
}

.button-green2 {
	width: 100%;
	height: 100%;
	background-color: #10af9e;
	border: 0px;
	color: white;
	transition-duration: 0.4s;
	box-shadow: 0px 2px 0 0 #00655a;
}

.button-green2:hover {
	background-color: #47b3a8;
	color: white;
	box-shadow: 0px 0px lightgrey;
}

/* aタグリンク */
a {
	cursor: pointer;
}

.link {
	list-style: none;
}

.link li {
	position: relative;
	color: rgb(0, 154, 139);
	font-size: 90%;
}

.link li::after {
	display: block;
	content: '';
	position: absolute;
	top: .5em;
	left: -1em;
	width: 6px;
	height: 6px;
	border-right: 1.5px solid rgb(0, 154, 139);
	border-bottom: 1.5px solid rgb(0, 154, 139);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.link a {
	border-bottom: 1.5px solid rgb(0, 154, 139);
}

/* padding */
.padding-5p {
	padding: 5% 5%;
}

/* タイトル */
h5.title {
	margin-top: 5%;
	padding-bottom: 1%;
	margin-bottom: 3%;
	border-bottom: 1px solid rgb(0, 154, 139);
}

/* 必須・任意マーク */
.required,
.option {
	margin-right: 10px;
	padding: 2px 8px;
	width: 45px;
	height: 18px;
	border-radius: 0.2rem;
	font-weight: bold;
	font-size: small;
}

.required {
	color: white;
	background-color: #fb5656;
}

.option {
	color: white;
	background-color: #10af9e;
}

/* フォーム */
.form-title-bold {
	font-weight: bold;
	font-size: smaller;
	margin-bottom: 8px;
}

/* メッセージ */
.message-red {
	font-size: 14px;
	color: #fb5656;
	font-weight: 600;
}
